<% creater_validate_question %>
<% if session[:quiz] != 'finish' %>
	<%= render 'timer' %>
	<%= simple_form_for :q, {url: request.original_url + '/valid'} do |f| %>
		<%= f.label @question_num.subject.text %><br>
		<%= f.label @question_num.text %>
			<% @question_num.answers.each do |a| %>
				<div id="answer">
					<%= f.radio_button(:answer, a.correct) %>
					<%= f.label(:answer, a.text) %>
				</div>
			<% end %>
	<div id="button">
		<%= f.button :submit, "Ответить" %>
	</div>
	<% end %>
<% else %>
	<%= @game.creater_scores %>
	<%= @game.opponent_scores%>
	<% controller.reset_session %>
	<% @game.destroy %>
<% end %>