<% creater_validate_question %>
<% case session[:quiz] %>
<% when 'q1' then %>
	<%= render 'timer' %>
<% when 'q2' then %>
	<%= render 'timer2' %>
<% when 'q3' then %>
	<%= render 'timer3' %>
<% when 'q4' then %>
	<%= render 'timer4' %>
<% when 'finish' then%>
	<%= render 'finish' %>
<% else%>
	<%= asdasdasdasd %>
<% end %>
<%= simple_form_for :q, {url: 'pages/valid'} do |f| %>

	<% @a.each do |q| %>
		<%= f.label q.subject.text %><br>
		<%= f.label q.text %>

			<% q.answers.each do |a| %>
				<div id="answer">
					<%= f.radio_button(:answer, a.correct) %>
					<%= f.label(:answer, a.text) %>
				</div>
			<% end %>
	<div id="button">
		<%= f.button :submit, "Ответить" %>
	</div>
	<% end %>

<% end %>